# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

fake_volume_config.yaml

test/reportorder.db

test/wa_database.db

test/wa_device.json

watch_coin_configuration.yaml

test/xeggex_credential.yaml

test/qr_data.jpg

test/qr.jpg

test/callback/wa_device.json

test/callback/wa_database.db

test/callback/qr_data.jpg

qtyreport_13-1-2024.db

qtyreport.db

qr_data.jpg

pdc_coin_manifest.yaml
shadow-premine-config.yaml
shadow_premine.zip
split-money-config.yaml
